@font-face {font-family: "Jura-DemiBold";
    src: url("fonts/Jura/Jura-DemiBold.ttf");
}
@font-face {font-family: "Jura-Light";
    src: url("fonts/Jura/Jura-Light.ttf");
}
@font-face {font-family: "OpenSans-Light";
    src: url("fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {font-family: "OpenSans-Regular";
    src: url("fonts/Open_Sans/OpenSans-Regular.ttf");
}
